
html, body 
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.5;
    color: #ffffff;
    background: #202020;
}

img {
    max-width: 100%;
    height: auto;
}
.main-header 
{
    background: rgb(37, 37, 37);
}

.main-nav a 
{
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ffffff;
    text-decoration: none;
}

.main-nav
{
    display: flex;
    flex-basis: 50%
}
.container
{
    display: flex;
    align-items: center;
}

.empty
{
    flex-basis: 10%;
}

.logo
{
    display: flex;
    flex-basis: 40%;
    justify-content: flex-end;
}

.main-nav-list
{
    list-style-type: none;
    display: flex;
    flex-basis: 100%;
    justify-content: flex-start;
    gap: 10%;
    align-items: center;

}

.main-nav-list li{
    display: block;
    padding: 14px 16px;
}


.main-nav-list li:hover{
    background-color: rgb(0, 0, 0);
}
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(37, 37, 37);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(0, 0, 0);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }



  .trial
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(37, 37, 37);;
}

.tl, .tc, .tr
{
flex-basis: 33.3;
}

.footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-company-name{
	color: rgb(94, 94, 94);
	font-size: 11px;
	font-weight: normal;
	margin: 0;
}


.tc{
    display: flex;
    justify-content: center;
	width: 35%;
}

.tc i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.tc i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.tc p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.tc p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.tc p a{
	color:  lightseagreen;
	text-decoration: none;;}

.footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-links .link-1:before {
  content: none;
}



.tr
{
    flex-wrap: nowrap;
    align-items: center;
} 
.footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-icons{
	margin-top: 25px;
}

.footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
















.mainbody
{
  text-align: center;
}


.mcc
{
  display: flex;
  justify-content: space-evenly;
  height: 250px;

}

.mccleft
{
  display: flex;
  flex-basis: 33.3%;
  align-items: center;
  justify-content: center;
  background-color: rgb(37, 37, 37);
 
}

.mccright
{
  display: flex;
  flex-basis: 33.3%;
  align-items: center;
  justify-content: center;
  background-color: rgb(37, 37, 37);
}

.mcq
{
  display: flex;
  justify-content: space-evenly;
  height: 250px;
}

.mcqc
{
  display: flex;
  flex-basis: 33.3%;
  align-items: center;
  justify-content: center;
  background-color: rgb(37, 37, 37);
}

.scrolllist
{
  width: 33%;
  height: 33%;
  overflow: scroll;
}

.checked {
  color: orange;
}





.mbc
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
 
.mbct , .mbci
{
  text-align: center;
  flex-basis: 35%;
}









